body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1c1c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  color: #fff;
}

.App-header {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.App-header h1 {
  color: #61dafb;
}

.refresh-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  color: #1c1c1c;
  font-size: 16px;
  transition: background-color 0.3s;
}

.refresh-button:hover {
  background-color: #4aa0d1;
}

.connect-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  color: #1c1c1c;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.connect-button:hover {
  background-color: #4aa0d1;
}

.connect-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.connect-form input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #61dafb;
  background-color: #1c1c1c;
  color: #fff;
}

.connect-form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  color: #1c1c1c;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.connect-form button:hover {
  background-color: #4aa0d1;
}

.block-height {
  position: fixed;
  top: 35px;
  left: 20px;
  font-size: large;
  font-weight: bold;
}